@font-face {
  font-family: "PoppinsR";
  src: url("../font/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "PoppinsL";
  src: url("../font/Poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: "PoppinsB";
  src: url("../font/Poppins/Poppins-Bold.ttf");
}

:root {
  --bg-color-1: #7dd3fb;
  --bg-color-2: #0b7dcb;
  --text-color: white;
  --text-shadow: rgba(0, 0, 0, 0.25);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "PoppinsR";
}

.layout {
  width: 100%;
  min-height: 100dvh;
  background: linear-gradient(0deg, var(--bg-color-2), var(--bg-color-1));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.layout__img-container {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 2;
  padding: 4rem;
}

.layout__img-container-route {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 2;
  padding: 4rem;
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  animation: barrido 5s ease-in-out both;
}

.hide {
  opacity: 0;
}

.layout__img {
  width: 80%;
  height: 70%;
}

.layout__title {
  font-size: 4rem;
  color: var(--text-color);
  text-shadow: 0px 0px 15px var(--text-shadow);
}

.location__layout {
  width: 100%;
  border-radius: 20px;
  min-height: calc(100dvh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* background-image: url("../img/path.png"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 2rem;
}

.location__layout--ok {
  width: 100%;
  border-radius: 20px;
  min-height: calc(100dvh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-image: url("../img/path_ok.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 2rem;
}

.start__input {
  width: 300px;
  height: 40px;
  font-size: 1.8rem;
  text-align: center;
  transition: all 300ms ease-in-out;
}

.end__input {
  width: 300px;
  height: 40px;
  font-size: 1.8rem;
  text-align: center;
  transition: all 300ms ease-in-out;
}

.input--error {
  background-color: #c51717;
  color: white;
}

.button__go {
  width: 300px;
  height: 80px;
  background: linear-gradient(90deg, white, #0b7dcb);
  border: none;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: all 300ms ease-in-out;
  box-shadow: 0px 0px 10px 5px rgba(67, 217, 255, 0.75);
}

.button__go:hover {
  box-shadow: 0px 0px 10px 5px rgba(158, 255, 67, 0.75);
}

.button__img-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.button__img {
  width: 100%;
  height: 100%;
}

.location__img {
  width: 600px;
  height: 500px;
}

.location__coord {
  width: 300px;
  height: 40px;
  font-size: 1.6rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 1rem;
  text-align: center;
}

.location__coordinate {
  width: 300px;
  height: 40px;
  font-size: 1.2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 1rem;
  text-align: center;
}

.location__top {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.location__middle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.location__middle__title {
  width: 422px;
  height: 40px;
  font-size: 1.6rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 1rem;
  text-align: center;
}

.fuel__gasoleo,
.fuel__gasolina {
  width: 200px;
  height: 50px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  opacity: 0.75;
  border: solid 4px transparent;
}

.fuel__gasoleo:hover,
.fuel__gasolina:hover {
  border: solid 4px rgba(67, 217, 255, 1);
}

.fuel--active {
  box-shadow: 0px 0px 10px 5px rgba(67, 217, 255, 0.75);
  opacity: 1;
}

.fuel__selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.path__layout {
  width: 90%;
  border-radius: 20px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2rem;
  background-color: rgba(0, 0, 0, 0.25);
  padding-left: 5rem;
}

.path__distance,
.path__time {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.distance__title {
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 1rem;
  width: 150px;
}

.distance__info,
.time__info {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  color: white;
  padding: 1rem;
}

.card__layout {
  width: 300px;
  height: 120px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
}

.card__top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.card__bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.card__img-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.card__img {
  width: 100%;
  height: 100%;
}

.card__time {
  font-size: 1.9rem;
  color: #343434;
}

.card__distance {
  font-size: 1.7rem;
  color: #8f8f8f;
}

.loading {
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.loading__dot-1,
.loading__dot-2,
.loading__dot-3 {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #343434;
}

.loading__dot-1 {
  animation: loadingDot 2s infinite;
}

.loading__dot-2 {
  animation: loadingDot 2s 200ms infinite;
}

.loading__dot-3 {
  animation: loadingDot 2s 400ms infinite;
}

@keyframes loadingDot {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 950px) {
  .location__layout {
  }

  .location__top {
    flex-direction: column;
  }

  .layout__img {
    width: 70%;
    height: 50%;
  }

  .layout__img-container {
    top: 20%;
    left: 15%;
  }

  .layout__img-container-route {
    top: 20%;
    left: 15%;
  }
}

@media (max-width: 512px) {
  .fuel__selection {
    flex-direction: column;
  }

  .location__middle__title {
    width: 250px;
  }

  .fuel__gasoleo,
  .fuel__gasolina {
    width: 250px;
  }

  .layout__img {
    width: 100%;
    height: 25%;
  }

  .layout__img-container {
    top: 20%;
    left: 0%;
  }

  .layout__img-container-route {
    top: 20%;
    left: 0%;
  }
}

.contenedor {
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.elemento {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  animation: barrido 2s linear infinite;
}

@keyframes barrido {
  0% {
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

#location-layout {
  /* clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  animation: barrido 2s linear infinite; */
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.location__layout--animate {
  clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  animation: barrido 2s linear both;
}
